name: Python CI
on:
  schedule:
    - cron:  '0/60 * * * *'
  workflow_dispatch:
permissions:
  contents: write
    
jobs:
  build:
    runs-on: ubuntu-latest			
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.x
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Python
      id: generator
      run: python3 run.py
    - name: Commit
      continue-on-error: true
      run: |
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add .
          git commit -m "Upgrade rss by action"
    - name: Push Changes
      if: success()
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
